* {
  box-sizing: border-box;
}

/* brand color palette updated to personal style */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* fixed to ensure items are rows not columns. Was not sitting correctly initially */
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none; /* Removed bullet points */
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 20px; /* Adjusted margin for more space between items in nav */
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

/* added own image to banner */
.hero-banner {
  background: rgb(68, 88, 120);
  background-image: url("./Images/IMG_8864.jpeg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: var (--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--secondary);
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/* switched to wrap and changed to flex start to adjust alignment of paragraph within the divs */
.page-section {
  margin: 25px 0;
  /* padding: 10px 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.title-container {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.content-container {
  flex: 1; /* Added for paragraph styling. Allows the content container to take the remaining space */
  padding-left: 15px; /* Added padding to create space between the about border and paragraph text */
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

/* Flex container settings */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

/* General flex item settings */
.flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em); /* Adjusted to make half the width with space between them */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em 0.25em; /* Adjusted margin to create space between them */
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  position: relative; /* Position the container relative to its normal position */
}

/* Specific adjustments for the first card */
.flex-item:first-child {
  flex: 0 1 100%;
  /* flex-basis: 100%; /* Make Bootcamp Challenge 1 occupy full width */
  order: -1; /* Ensure this card is displayed first */
  min-height: 400px; /* Adjust the minimum height as needed */
  min-width: 100%;
}

.flex-item:nth-child(2),
.flex-item:nth-child(3) {
  flex-basis: 50%; /* Make the remaining cards take the full width below the first card*/
}

/* Image within flex item settings */
.flex-item img {
  position: absolute; /* Position the image absolutely within the container */
  top: 0; /* Position at the top of the container */
  left: 0; /* Position at the left of the container */
  width: 100%; /* Take the full width of the container */
  height: 100%; /* Take the full height of the container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

/* Headings within flex item settings */
.flex-item h3,
.flex-item h4 {
  position: relative; /* Ensure headings are positioned relative to their container */
  z-index: 1; /* Ensure headings are above the image */
  padding: 5px;
}

/* Remove underline from links */
.flex-item-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

/* Adjustments on hover */
.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Background and padding for nested div */
.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

/* Specific settings for h3 */
.flex-item h3 {
  font-size: 1.6rem;
  background-color: var(--secondary);
}

/* Specific settings for h4 */
.flex-item h4 {
  background-color: lightgray;
  position: inherit;
}

#bootcamp-challenge-one h4 {
  font-weight: 800;
  color: aliceblue;
  padding-left: 5px;
}

/* General card settings */
.card {
  flex-basis: calc(33.33% - 1em); /* Adjusted to make one-third of the width with space between them */
  margin: 0.5em; /* Adjusted margin to create space between them */
}

/* Image settings within card */
.card img {
  width: 100%; /* Set the width of the image to 100% of its container */
  height: 100%; /* Set the height of the image to 100% of its container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

/* Specific settings for bootcamp-challenge-two */
#bootcamp-challenge-two h4 {
  font-weight: 800;
  color: aliceblue;
  padding-left: 5px;
}

/* Specific settings for bootcamp-challenge-three */
#bootcamp-challenge-three h4 {
  font-weight: 800;
  color: aliceblue;
  padding-left: 5px;
  align-self: flex-end;
}

.contact-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

.contact-address a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

/* Font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* GitHub */
.fa-github {
  background: #000000;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Resume section settings */
#resume {
  position: relative; /* Position the container relative to its normal position */
}

#resume img {
  position: absolute; /* Position the image absolutely within the container */
  top: 0; /* Position at the top of the container */
  left: 0; /* Position at the left of the container */
  width: 100%; /* Take the full width of the container */
  height: 100%; /* Take the full height of the container */
  object-fit: inherit; /* Maintain aspect ratio while covering the container */
}

#resume h3 {
  position: relative; /* Ensure headings are positioned relative to their container */
  z-index: 1; /* Ensure headings are above the image */
}

#resume-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

/* media queries */

/* Media query for max-width of 988px */
@media screen and (max-width: 988px) {
  /* Adjust header layout for smaller screens */
  header {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: center; /* Center align items when screen size is reduced */
  }
  header h1 {
    margin-bottom: 20px; /* Add spacing between h1 and nav to avoid crowding */
  }
  nav {
    margin-top: 20px; /* Add spacing between h1 and nav to avoid crowding */
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack nav items into a column when screen size is reduced */
    align-items: center; /* Center align nav items when screen size is reduced and nav items are stacked into a column */
  }
  nav li {
    margin-bottom: 8px; /* Add spacing between nav items to avoid crowding on smaller screens */
  }

  /* Adjust layout of work section */
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-basis: 100%; /* Make each card take the full width */
    margin: 0.5em 0; /* Adjust margin to create space between cards */
  }

  .flex-item {
    min-height: auto;
    max-height: auto;
    aspect-ratio: 1 / 1; /* Make the images square */
  }

  .flex-item:first-child {
    order: -1; /* Bring the first card to the top */
  }

  .flex-item:nth-child(2),
  .flex-item:nth-child(3) {
    flex-basis: 50%; /* Make the remaining cards split the width */
  }
}

/* Media query for max-width of 768px */
@media screen and (max-width: 768px) {
  /* Adjust header layout for smaller screens */
  header {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: center; /* Center align items when screen size is reduced */
  }
  header h1 {
    margin-bottom: 20px; /* Add spacing between h1 and nav to avoid crowding */
  }
  nav {
    margin-top: 20px; /* Add spacing between h1 and nav to avoid crowding */
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack nav items into a column when screen size is reduced */
    align-items: center; /* Center align nav items when screen size is reduced and nav items are stacked into a column */
  }
  nav li {
    margin-bottom: 8px; /* Add spacing between nav items to avoid crowding on smaller screens */
  }

  /* Adjust layout of work section */
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-basis: 100%; /* Make each card take the full width */
    margin: 0.5em 0; /* Adjust margin to create space between cards */
  }

  .flex-item {
    min-height: auto;
    max-height: auto;
    aspect-ratio: 1 / 1; /* Make the images square */
  }

  .flex-item:first-child {
    order: -1; /* Bring the first card to the top */
  }

  .flex-item:nth-child(2),
  .flex-item:nth-child(3) {
    flex-basis: 100%; /* Make the remaining cards take the full width */
  }
}